/* Remove HTML defaults */
*{
    margin: 0;
    padding: 0;
}
/* index Background Color */
body{
    background-color: #95D2FF
}

.mainTitleFormat{
    font-family: ;
    color: #4744CF;
    background-color: #F1F5DE;
}

.dntTF{
    font-family: ;
    color: white;
    font-size: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, auto)  
  }

.test{
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    width: 100px;
}



